
.white-content {
  background: #fff;
}
.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 3rem;
  border: 1px solid;
  border-bottom-color: rgba(204, 204, 204, .1);
  box-shadow: rgba(79, 80, 82, 0.2) 0px -8px 24px;
}
h3{
  color: rgba(68 162 210/1);
}

.copyright,
.githubcode{
  color: rgb(139, 134, 134);
}
